@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

ul {
  list-style: none; }

a {
  cursor: pointer;
  text-decoration: none; }

html {
  font-size: 62.5%; }
  @media (min-width: 1000px) {
    html {
      font-size: 75%; } }

body {
  min-height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(to right, var(--color-grey), var(--color-grey-light)); }

.color-white {
  color: var(--color-white) !important; }

.color-grey {
  color: var(--color-grey) !important; }

body {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-white); }

.heading-primary, .heading-secondary, .heading-tertiary, .heading-quaternary {
  font-weight: 200;
  text-transform: uppercase; }

.heading-primary {
  font-size: 5rem;
  backface-visibility: hidden;
  margin: 1rem 0;
  animation: moveInRight 1.5s ease-in; }

.heading-secondary {
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0;
  color: var(--color-grey); }

.heading-tertiary {
  text-align: center;
  font-size: 2.5rem; }

.heading-quaternary {
  transition: all .4s ease;
  text-align: center;
  font-size: 2.5rem;
  color: var(--color-grey); }

.header {
  position: relative;
  height: 100vh;
  color: white;
  margin-bottom: 2rem; }
  .header__box {
    padding-top: 10rem;
    max-width: 100rem;
    margin: 0 auto; }
    @media (max-height: 600px) {
      .header__box {
        padding-top: 8.5rem; } }
  .header__box-text {
    text-align: center; }
  .header__image {
    border: 3px solid var(--color-main);
    display: block;
    margin: 1rem auto;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    animation: moveInLeft 1.5s ease-in; }
  .header__para {
    font-size: 3rem;
    animation: moveInRight 1.5s ease-in; }

.navigation {
  background-color: white;
  position: fixed;
  width: 100vw;
  height: 8rem;
  z-index: 2000;
  display: flex; }
  .navigation__link {
    text-transform: uppercase;
    color: var(--color-grey);
    font-size: 5rem; }
    .navigation__link:hover {
      color: var(--color-main); }
  .navigation__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 42.5rem;
    text-align: center; }
  .navigation__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%; }
  .navigation__item {
    background-color: var(--color-white);
    width: 100%; }
  .navigation__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    letter-spacing: 2px; }
  .navigation__span {
    color: var(--color-main); }

.about {
  padding: 4rem;
  color: var(--color-grey);
  background: linear-gradient(to right, var(--color-white-2), var(--color-white)); }
  .about__text {
    max-width: 50rem;
    margin: 0 auto; }
  .about__para {
    font-size: 1.6rem; }

.section-experience {
  padding: 4rem; }
  @media (min-width: 845px) {
    .section-experience {
      margin-bottom: 12rem; } }

.skills {
  padding: 4rem;
  color: var(--color-grey);
  background: linear-gradient(to right, var(--color-white-2), var(--color-white)); }
  .skills__container {
    display: flex;
    flex-direction: column; }
    @media (min-width: 845px) {
      .skills__container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; } }

.contact {
  position: relative;
  padding: 3rem 4rem; }
  .contact__para {
    font-size: 1.6rem; }
  .contact__span {
    color: var(--color-main);
    font-size: 1.6rem;
    text-transform: uppercase; }
  .contact__box {
    margin: 0 auto;
    max-width: 60rem;
    display: flex;
    flex-direction: column; }
    @media (min-width: 600px) {
      .contact__box {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row; } }
  .contact__phone, .contact__icons, .contact__mail {
    position: relative;
    border-radius: 3px;
    padding: .5rem;
    margin-bottom: 2rem;
    transition: all .2s ease;
    text-align: center; }
    .contact__phone:after, .contact__icons:after, .contact__mail:after {
      content: '';
      margin-bottom: -1rem;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      border: 1px solid var(--color-main);
      transform: scaleX(-1) scaleY(-1);
      background-color: var(--color-grey); }
    .contact__phone:hover, .contact__icons:hover, .contact__mail:hover {
      transform: scale(1.05);
      background-color: var(--color-white);
      color: var(--color-grey);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; }
    @media (min-width: 600px) {
      .contact__phone, .contact__icons, .contact__mail {
        text-align: left; } }
  .contact__link {
    font-size: 3rem;
    transition: all .2s ease;
    margin: 0 .5rem; }
    .contact__link--git:hover {
      color: #6E5494; }
    .contact__link--slack:hover {
      color: #CF0E5B; }
  .contact__info {
    margin: 2rem auto;
    width: 80%;
    order: -1; }
    @media (min-width: 600px) {
      .contact__info {
        width: 30%;
        display: flex;
        flex-direction: column;
        order: 1;
        margin: 0; } }

/*
.about {

	&__para {
		font-size: 1.6rem;
	}
}
.about-text {
	max-width: 50rem;
	margin: 0 auto;
}*/
.footer {
  padding: 1rem 0;
  background-color: var(--color-white-2); }
  .footer__para {
    color: var(--color-grey);
    text-align: center;
    font-size: 2rem; }
    @media (min-width: 845px) {
      .footer__para {
        letter-spacing: .3rem; } }
  .footer__span {
    color: var(--color-main); }

.btn {
  width: 16rem;
  color: white;
  display: inline-block;
  text-decoration: none;
  border: 2px solid var(--color-main);
  border-radius: .5rem;
  padding: .3rem .5rem;
  transition: all .7s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-white) 50%);
  background-size: 230%;
  text-align: center; }
  .btn:hover {
    background-position: 100%;
    color: var(--color-main);
    transform: scale(1.1); }
  .btn--header {
    font-size: 3rem;
    animation: moveInRight 1.5s ease-in; }
  .btn--project {
    width: 13rem;
    font-size: 2rem; }
    .btn--project:hover {
      background-position: 98% !important; }
  .btn--contact {
    font-size: 2rem;
    margin: 2rem auto;
    width: 80%; }

.btn-about {
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  letter-spacing: .2rem;
  padding: 1rem 1.4rem;
  background: var(--color-grey);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: .2s; }
  .btn-about:before, .btn-about:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 2.8em;
    content: "";
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    text-align: center;
    transition: all .3s; }
  .btn-about:hover {
    transform: scale(1.1); }
  .btn-about:before {
    background: var(--color-main); }
  .btn-about:not(:last-child) {
    margin-bottom: 1.5rem; }

.project {
  width: 85%;
  max-width: 70rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 31rem;
  margin: 1rem auto;
  border-radius: 3px; }
  .project__list {
    display: flex;
    justify-content: space-between; }
  .project__img {
    width: 100%;
    height: 65%;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; }
    @media (min-width: 845px) {
      .project__img {
        height: 84%; } }
  .project__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    @media (min-width: 845px) {
      .project__container {
        flex-direction: row;
        flex-wrap: wrap; } }
  .project__side {
    height: 31rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    /*@media (min-width: 650px) {
			height: 45rem;
			padding-bottom: 6rem;
		}*/ }
    .project__side--front {
      position: relative; }
    .project__side--back {
      transform: rotateY(180deg); }
  .project:hover .project__side--front {
    transform: rotateY(-180deg); }
  .project:hover .project__side--back {
    transform: rotateY(0); }
  .project__text-box {
    background: linear-gradient(to right, var(--color-white-2), var(--color-white));
    border-radius: 3px;
    height: 84%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .project__link-box {
    margin-top: .5rem;
    display: flex;
    justify-content: space-evenly; }
  .project__list-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .project__para {
    font-size: 1.7rem;
    color: var(--color-grey);
    padding: 0; }
    .project__para--big {
      display: flex;
      justify-self: center;
      align-self: center;
      text-transform: uppercase;
      text-align: center;
      font-size: 2.2rem;
      color: var(--color-main);
      margin-bottom: 1rem; }
    @media (min-width: 845px) {
      .project__para {
        font-size: 1.9rem; } }
  @media (min-width: 845px) {
    .project {
      width: 40%;
      margin: 3rem auto; } }

.burger {
  width: 60px;
  height: 60px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  border: 5px solid var(--color-main); }
  .burger:hover {
    border-radius: 50%;
    transition: all 0.3s ease; }

.burger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 75%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  left: 12%; }

.burger span:nth-child(1) {
  top: 11px; }

.burger span:nth-child(1) {
  top: 11px; }

.burger span:nth-child(2) {
  top: 22px; }

.burger span:nth-child(3) {
  top: 33px; }

.burger.open span:nth-child(1) {
  top: 2.2rem;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }
  @media (min-width: 1000px) {
    .burger.open span:nth-child(1) {
      top: 1.8rem; } }

.burger.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

.burger.open span:nth-child(3) {
  top: 2.2rem;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }
  @media (min-width: 1000px) {
    .burger.open span:nth-child(3) {
      top: 1.8rem; } }

.link-box {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto; }

.icon {
  font-size: 9rem;
  text-align: center; }

.icon-small {
  font-size: 5rem;
  color: var(--color-grey);
  transition: all .2s ease; }
  .icon-small--html {
    color: #fb7a5a; }
  .icon-small--css {
    color: #309ed9; }
  .icon-small--sass {
    color: #CE639A; }
  .icon-small--jq {
    color: #1069ae; }

.icon-resume {
  position: relative;
  z-index: 2000;
  padding-right: 2rem; }

.skill-box {
  cursor: pointer;
  position: relative;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  transition: all .2s ease;
  border-radius: 3px; }
  .skill-box__para {
    font-size: 1.6rem;
    text-align: center; }
  .skill-box:not(:last-child) {
    margin-bottom: 4rem; }
  .skill-box--first:hover > :first-child {
    color: #fb7a5a; }
  @media (min-width: 845px) {
    .skill-box--first {
      margin-right: 2rem; } }
  .skill-box--second:hover > :first-child {
    color: #309ed9; }
  @media (min-width: 845px) {
    .skill-box--second {
      margin-left: 2rem; } }
  .skill-box--third:hover > :first-child {
    color: #CE639A; }
  .skill-box--third:hover {
    color: var(--color-white); }
  @media (min-width: 845px) {
    .skill-box--third {
      margin-right: 2rem; } }
  .skill-box--fourth:hover > :first-child {
    color: #f7df1e; }
  @media (min-width: 845px) {
    .skill-box--fourth {
      margin-left: 2rem; } }
  .skill-box--fifth:hover > :first-child {
    color: #1069ae; }
  @media (min-width: 845px) {
    .skill-box--fifth {
      margin-right: 2rem; } }
  .skill-box--sixth:hover > :first-child {
    color: #6e5494; }
  @media (min-width: 845px) {
    .skill-box--sixth {
      margin-left: 2rem; } }
  .skill-box:hover {
    transform: scale(1.05);
    background-color: var(--color-grey);
    color: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; }
  .skill-box:hover :nth-child(2) {
    color: var(--color-white); }
  @media (min-width: 845px) {
    .skill-box {
      width: 45%; }
      .skill-box:last-child {
        margin-bottom: 4rem; } }

.bubble {
  display: none;
  position: absolute;
  top: 0;
  width: 9.6rem;
  padding: .4rem 1rem;
  height: 100%; }
  .bubble__para {
    color: var(--color-white);
    font-size: 1.9rem; }
  .bubble__item {
    font-size: 1.4rem;
    color: var(--color-white); }
  @media (min-width: 845px) {
    .bubble {
      width: 18rem; } }

.form {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column; }
  @media (min-width: 600px) {
    .form {
      width: 50%;
      margin: 0; } }
  .form__input {
    position: relative;
    padding: 1rem;
    border-radius: 3px;
    margin: .5rem 0;
    border: none;
    margin-top: 1rem; }
    .form__input:focus {
      outline-width: 0; }
  .form__span {
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .form__span {
        text-align: left; } }
  .form__text {
    margin-top: 1rem;
    border-radius: 3px;
    height: 100px;
    max-width: 100%;
    resize: none; }

:root {
  --color-main: #3c6d95;
  --color-main-light: #4d87b7;
  --color-grey: #2e2e2e;
  --color-grey-light: #424242;
  --color-white: #fff;
  --color-white-2:#F5F5F5;
  --color-black:  #000; }
