:root {
	--color-main: #3c6d95;
	--color-main-light: #4d87b7;
	--color-grey: #2e2e2e;
	--color-grey-light: #424242;

	--color-white: #fff;
	--color-white-2:#F5F5F5;

    --color-black:  #000;
}

