.footer {

    &__para {
        text-align: center;
        font-size: 2rem;
    }

    &__span--1 {
        color: var(--color-main);
    }

    &__span--2 {
        color: #0AD560;
    }


}