.footer {
    padding: 1rem 0;
    background-color: var(--color-white-2);
    &__para {
        color: var(--color-grey);
        text-align: center;
        font-size: 2rem;

        @media (min-width: 845px) {
            letter-spacing: .3rem;
        } 
    }

    &__span--1 {
        color: var(--color-main);
    }

    &__span--2 {
        color: #0AD560;
    }
}