.section-about {
	padding: 4rem;
	color: var(--color-grey);
	background-color: var(--color-white-2);

}



.section-experience {
	padding: 4rem;


	@media (min-width: 845px) {
		margin-bottom: 12rem;
	}


}

.skills {
    padding: 4rem;
    color: var(--color-grey);
	background-color: var(--color-white-2);
	
	&__container {
		display: flex;
		flex-direction: column;

		@media(min-width: 845px) {

			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}

	}

}

.contact {
	padding: 3rem 0;
	&__para	{
		font-size: 2rem;
		text-align: center;
	}
}

.about {

	&__para {
		font-size: 1.6rem;
	}
}
.about-text {
	max-width: 50rem;
	margin: 0 auto;
}