.btn {
    	width: 16rem;
		color: white;
		display: inline-block;
		text-decoration: none;
		border: 2px solid var(--color-main);
		border-radius: .5rem;
		padding: .3rem .5rem;
		transition: all .7s;
		background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-white) 50%);
		background-size: 230%;
		text-align: center;


		&:hover {
			background-position: 100%;
			color: var(--color-main);
			transform: scale(1.1);
		}

		&--header {
			font-size: 2rem;
			animation: moveInRight 1.5s ease-in;

			@media (min-width: 700px) {
				font-size: 3rem;
			}
 		}

		&--project {

				width: 13rem;
				font-size: 2rem;

				&:hover {
					background-position: 98% !important;
				}
		}
		
		&--contact {
			font-size: 2rem;
			margin: 2rem auto;
			width: 80%;
		}


}

.btn-about {
	text-transform: uppercase;
	display: inline-block;
	width: 100%;	
	font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	position: relative;
	letter-spacing: .2rem;
	padding: 1rem 1.4rem;
	background: var(--color-grey);
	color: white;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	transition: .2s;
	&:before,
	&:after {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		padding-top: inherit;
		padding-bottom: inherit;
		width: 2.8em;
		content: "";
		font-family: 'FontAwesome', sans-serif;
		font-size: 1.2em;
		text-align: center;
		transition: all .3s;
	}

	&:hover {
		transform: scale(1.1);
	}
	&:before {
		background: var(--color-main);

		&:hover {
			
		}
	}
	
	&:hover {

	}

	&:not(:last-child) {
		margin-bottom: 1.5rem;
	}
}








