.icon {
    font-size: 9rem;
    text-align: center;
}

.icon-small {
	font-size: 5rem;
    color: var(--color-grey);
    transition: all .2s ease;


    &--html {
        color: #fb7a5a;
    }
    
    &--css {
        color: #309ed9;
    }
    
    &--sass {
        color: #CE639A;
    }
    
    &--jq {
        color: #1069ae;
    }
}

.icon-resume {
    position: relative;
    z-index: 2000;
    padding-right: 2rem;
}