body {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: var(--color-white);
}

.heading-primary, .heading-secondary, .heading-tertiary, .heading-quaternary {
	font-weight: 200;
	text-transform: uppercase;
}

.heading-primary {
	font-size: 5rem;
	backface-visibility: hidden;
	margin: 1rem 0;
	animation: moveInRight 1.5s ease-in;
}

.heading-secondary {
	text-align: center;
	font-size: 3rem;
	margin: 1rem 0;
	color: var(--color-grey);
}

.heading-tertiary {
	text-align: center;
	font-size: 2.5rem;
}

.heading-quaternary {
	transition: all .4s ease;
	text-align: center;
	font-size: 2.5rem;
	color: var(--color-grey);
}